In [14]:
import psycopg2
import pandas as pd

# Database connection parameters
DB_HOST = "localhost"
DB_NAME = "todoler"
DB_USER = "dinesh"
DB_PASSWORD = "neverworry"
DB_PORT = "5432"  # Default PostgreSQL port is 5432

def execute_query(query : str):
    
    # SQL query to execute
    
    try:
        # Establish the connection
        connection = psycopg2.connect(
            host=DB_HOST,
            database=DB_NAME,
            user=DB_USER,
            password=DB_PASSWORD,
            port=DB_PORT
        )
    
        pd.set_option('display.max_rows', None)
    
        # Load data into a DataFrame
        df = pd.read_sql_query(query, connection)
        return df
    
    except Exception as error:
        print(f"Error: {error}")
    
    finally:
        # Close the connection
        if connection:
            connection.close()

Query all data from tasks table

In [15]:
query = "SELECT * FROM tasks;"
execute_query(query)

/tmp/ipykernel_21285/3128263836.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

,id,title,subtasks,due_date,comments,description,task_status,created_time,project_id
0,146,request from tests,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-20 06:01:54.049761,1
1,116,request from tests,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-02 13:06:46.252726,1
2,120,request from tests,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-02 13:06:50.489150,1
3,124,request from tests,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-05 07:20:29.895496,1
4,114,trigger test on 114,"[subtask1, subtask2]",2024-02-04,"[let us try with thired change, this is the se...",this is test description for triggger test,completed,2024-05-26 06:13:20.708379,1
5,128,request from tests,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-07 08:04:25.715067,1
6,132,request from tests,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-08 09:40:07.089451,1
7,136,request from tests,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-09 06:53:18.731997,1
8,142,request from tests,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-15 20:29:30.289713,1
9,115,this is a good day,"[identify root cause sdfsdfdsf reported bugs, ...",2024-04-20,"[make task as pending task, coordinate with qa...",addressing reported bugs in the application,pending,2024-05-26 06:13:56.382136,1
10,148,something new is here,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-20 06:01:54.124499,1
11,118,something new is here,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-02 13:06:46.315401,1
12,126,something new is here,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-05 07:20:29.968566,1
13,95,Bug Fixes,"[Identify root cause of reported bugs, Impleme...",2024-04-20,[High priority: Fixes needed for critical issu...,Addressing reported bugs in the application,completed,2024-05-05 14:44:45.930055,1
14,134,something new is here,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-08 09:40:07.163933,1
15,138,something new is here,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-09 06:53:18.803603,1
16,130,get the know status on time,"[subtask1, subtask2]",2024-02-04,"[let us try with thired change, this is the se...",this is test description for triggger test,in progress,2024-06-07 08:04:25.776792,1
17,122,get the know status on time,"[subtask1, subtask2]",2024-02-04,"[let us try with thired change, this is the se...",this is test description for triggger test,to do,2024-06-02 13:06:50.547696,1
18,144,something new is here,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-15 20:29:30.352352,1
19,106,bug fixes,"[identify root cause of reported bugs, impleme...",2024-04-20,"[come high priority tasks and we ar, coordinat...",addressing reported bugs in the application,to do,2024-05-25 14:50:48.546578,1
20,107,request from tests,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-05-25 14:51:33.107064,1
21,109,something new is here,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-05-25 14:51:33.188278,1
22,111,change in case of first time,"[identify root cause of reported bugs, impleme...",2024-04-20,"[come high priority tasks and we ar, coordinat...",addressing reported bugs in the application,to do,2024-05-25 17:26:35.206044,1
23,112,change in case of first time,"[identify root cause of reported bugs, impleme...",2024-04-20,"[come high priority tasks and we ar, coordinat...",addressing reported bugs in the application,completed,2024-05-25 17:26:44.392162,1
24,113,change in caes for completed second time,"[identify root cause sdfsdfdsf reported bugs, ...",2024-04-20,"[come high priority tasks and we ar, coordinat...",addressing reported bugs in the application,completed,2024-05-25 17:27:02.044120,1
25,105,Bug Fixes,"[Identify root cause of reported bugs, Impleme...",2024-04-20,"[come high priority tasks and we ar, Coordinat...",Addressing reported bugs in the application,to do,2024-05-24 06:33:14.198969,1
26,149,response changed from unit test,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-20 06:01:54.158063,1
27,93,get the know status on time,"[subtask1, subtask2]",2024-02-04,"[let us try with thired change, this is the se...",this is test description for triggger test,to do,2024-05-05 14:32:37.241193,1
28,94,Request from tests,"[Subtask1, Subtask2]",2024-02-04,"[This is the first test comment, This is the s...",This is test description,in progress,2024-05-05 14:44:11.475852,1
29,96,Request from tests,"[Subtask1, Subtask2]",2024-02-04,"[This is the first test comment, This is the s...",This is test description,in progress,2024-05-05 14:46:16.151809,1
30,98,something new is here,"[Subtask1, Subtask2]",2024-02-04,"[This is the first test comment, This is the s...",This is test description,in progress,2024-05-05 14:46:16.211069,1
31,99,response changed from unit test,"[Subtask1, Subtask2]",2024-02-04,"[This is the first test comment, This is the s...",This is test description,in progress,2024-05-05 14:46:16.245665,1
32,100,Request from tests,"[Subtask1, Subtask2]",2024-02-04,"[This is the first test comment, This is the s...",This is test description,in progress,2024-05-05 16:12:03.403692,1
33,102,something new is here,"[Subtask1, Subtask2]",2024-02-04,"[This is the first test comment, This is the s...",This is test description,in progress,2024-05-05 16:12:03.461019,1
34,103,response changed from unit test,"[Subtask1, Subtask2]",2024-02-04,"[This is the first test comment, This is the s...",This is test description,in progress,2024-05-05 16:12:03.494632,1
35,104,Bug Fixes,"[Identify root cause of reported bugs, Impleme...",2024-04-20,[High priority: Fixes needed for critical issu...,Addressing reported bugs in the application,in progress,2024-05-24 06:30:25.391891,1
36,110,response changed from unit test,"[Subtask1, Subtask2]",2024-02-04,"[This is the first test comment, This is the s...",This is test description,in progress,2024-05-25 14:51:33.232092,1
37,127,response changed from unit test,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-05 07:20:30.010616,1
38,131,response changed from unit test,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-07 08:04:25.813755,1
39,139,response changed from unit test,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-09 06:53:18.847540,1
40,135,response changed from unit test,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-08 09:40:07.203892,1
41,145,response changed from unit test,"[subtask1, subtask2]",2024-02-04,"[this is the first test comment, this is the s...",this is test description,in progress,2024-06-15 20:29:30.388404,1
42,119,response changed from unit test,"[Subtask1, Subtask2]",2024-02-04,"[This is the first test comment, This is the s...",This is test description,in progress,2024-06-02 13:06:46.353948,1
43,123,response changed from unit test,"[Subtask1, Subtask2]",2024-02-04,"[This is the first test comment, This is the s...",This is test description,in progress,2024-06-02 13:06:50.583366,1

Query all data from task_status_history table

In [16]:
query = """
SELECT * FROM task_status_history
ORDER BY task_id, update_time DESC
"""

execute_query(query)

/tmp/ipykernel_21285/3128263836.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   id  task_id   old_status   new_status                update_time
0  16       93    completed        to do 2024-06-16 14:14:15.144808
1   4       93        to do    completed 2024-06-03 09:05:37.789011
2   3       93    completed        to do 2024-06-03 08:57:46.912973
3   5      114      pending    completed 2024-06-05 07:37:26.251455
4  13      122  in progress        to do 2024-06-11 08:25:16.634784
5  10      130        to do  in progress 2024-06-11 07:14:02.049933
6   9      130  in progress        to do 2024-06-11 07:13:49.333241

Get task status per month

In [17]:
query = """
SELECT
    tasks.project_id,
    task_status_history.new_status,
    date_trunc('month', task_status_history.update_time) AS month,
    COUNT(*) AS status_count
FROM
    task_status_history
RIGHT JOIN
    tasks
ON
    task_status_history.task_id = tasks.id
GROUP BY
    tasks.project_id,
    task_status_history.new_status,
    month
ORDER BY
    tasks.project_id,
    month,
    task_status_history.new_status
LIMIT 20;

"""

execute_query(query)

/tmp/ipykernel_21285/3128263836.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   project_id   new_status      month  status_count
0           1    completed 2024-06-01             2
1           1  in progress 2024-06-01             1
2           1        to do 2024-06-01             4
3           1         None        NaT            40

In [18]:
query = """
SELECT
    tasks.project_id,
    task_status_history.new_status,
    task_status_history.update_time,
    tasks.id
FROM
    task_status_history
RIGHT JOIN
    tasks
ON
    task_status_history.task_id = tasks.id
ORDER BY
    tasks.id
LIMIT 200;

"""

execute_query(query)

/tmp/ipykernel_21285/3128263836.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

    project_id   new_status                update_time   id
0            1        to do 2024-06-03 08:57:46.912973   93
1            1    completed 2024-06-03 09:05:37.789011   93
2            1        to do 2024-06-16 14:14:15.144808   93
3            1         None                        NaT   94
4            1         None                        NaT   95
5            1         None                        NaT   96
6            1         None                        NaT   98
7            1         None                        NaT   99
8            1         None                        NaT  100
9            1         None                        NaT  102
10           1         None                        NaT  103
11           1         None                        NaT  104
12           1         None                        NaT  105
13           1         None                        NaT  106
14           1         None                        NaT  107
15           1         None                        NaT  109
16           1         None                        NaT  110
17           1         None                        NaT  111
18           1         None                        NaT  112
19           1         None                        NaT  113
20           1    completed 2024-06-05 07:37:26.251455  114
21           1         None                        NaT  115
22           1         None                        NaT  116
23           1         None                        NaT  118
24           1         None                        NaT  119
25           1         None                        NaT  120
26           1        to do 2024-06-11 08:25:16.634784  122
27           1         None                        NaT  123
28           1         None                        NaT  124
29           1         None                        NaT  126
30           1         None                        NaT  127
31           1         None                        NaT  128
32           1        to do 2024-06-11 07:13:49.333241  130
33           1  in progress 2024-06-11 07:14:02.049933  130
34           1         None                        NaT  131
35           1         None                        NaT  132
36           1         None                        NaT  134
37           1         None                        NaT  135
38           1         None                        NaT  136
39           1         None                        NaT  138
40           1         None                        NaT  139
41           1         None                        NaT  142
42           1         None                        NaT  144
43           1         None                        NaT  145
44           1         None                        NaT  146
45           1         None                        NaT  148
46           1         None                        NaT  149

In [19]:
query = """
WITH LatestStatus AS (
    SELECT
        tasks.project_id,
        task_status_history.new_status,
        task_status_history.update_time,
        tasks.id,
        ROW_NUMBER() OVER (PARTITION BY tasks.id ORDER BY task_status_history.update_time DESC) AS rn
    FROM
        task_status_history
    RIGHT JOIN
        tasks
    ON
        task_status_history.task_id = tasks.id
)
SELECT
    project_id,
    new_status,
    update_time,
    id
FROM
    LatestStatus
WHERE
    rn = 1
ORDER BY
    update_time DESC
LIMIT 200;


"""

execute_query(query)

/tmp/ipykernel_21285/3128263836.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

    project_id   new_status                update_time   id
0            1         None                        NaT  149
1            1         None                        NaT   94
2            1         None                        NaT   95
3            1         None                        NaT   96
4            1         None                        NaT   98
5            1         None                        NaT   99
6            1         None                        NaT  100
7            1         None                        NaT  102
8            1         None                        NaT  103
9            1         None                        NaT  104
10           1         None                        NaT  105
11           1         None                        NaT  106
12           1         None                        NaT  107
13           1         None                        NaT  109
14           1         None                        NaT  110
15           1         None                        NaT  111
16           1         None                        NaT  112
17           1         None                        NaT  113
18           1         None                        NaT  144
19           1         None                        NaT  145
20           1         None                        NaT  146
21           1         None                        NaT  148
22           1         None                        NaT  115
23           1         None                        NaT  116
24           1         None                        NaT  118
25           1         None                        NaT  119
26           1         None                        NaT  120
27           1         None                        NaT  123
28           1         None                        NaT  124
29           1         None                        NaT  126
30           1         None                        NaT  127
31           1         None                        NaT  128
32           1         None                        NaT  131
33           1         None                        NaT  132
34           1         None                        NaT  134
35           1         None                        NaT  135
36           1         None                        NaT  136
37           1         None                        NaT  138
38           1         None                        NaT  139
39           1         None                        NaT  142
40           1        to do 2024-06-16 14:14:15.144808   93
41           1        to do 2024-06-11 08:25:16.634784  122
42           1  in progress 2024-06-11 07:14:02.049933  130
43           1    completed 2024-06-05 07:37:26.251455  114

In [25]:
query = """
WITH LatestStatus AS (
    SELECT
        tasks.project_id,
        task_status_history.new_status,
        task_status_history.update_time,
        tasks.id,
        ROW_NUMBER() OVER (PARTITION BY tasks.id ORDER BY task_status_history.update_time DESC) AS rn
    FROM
        task_status_history
    RIGHT JOIN
        tasks
    ON
        task_status_history.task_id = tasks.id
),
MonthlyStatus AS (
    SELECT
        project_id,
        new_status,
        date_trunc('month', update_time) AS month,
        id
    FROM
        LatestStatus
    WHERE
        rn = 1
)
SELECT
    month,
    new_status,
    project_id,
    COUNT(*) AS status_count
FROM
    MonthlyStatus
    WHERE project_id = 1
    AND 
    new_status='completed'
GROUP BY
    project_id, month, new_status
ORDER BY
    month DESC, new_status

"""

execute_query(query)

/tmp/ipykernel_21285/3128263836.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

       month new_status  project_id  status_count
0 2024-06-01  completed           1             1